---
export interface Props {
	title?: string
	href?: string
	hrefText?: string
	href2?: string
	hrefText2?: string
}

const { href, hrefText, href2, hrefText2, title } = Astro.props
---

<div>
	<h3 class="uppercase font-semibold text-xl">{title}</h3>
	<slot />
	<a
		class="text-footer-link hover:text-footer-link-hover font-semibold"
		href={href}>{hrefText}</a
	>
	<a
		class="text-footer-link hover:text-footer-link-hover font-semibold"
		href={href2}>{hrefText2}</a
	>
</div>
